<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SHARPBOSS_URL" value="<#= ListenUrl #>" />
    </appSettings>
</configuration>